
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #d4cbcbd0;
    background-size: 100%;
}

.body {
    background-color: #d4cbcbd0;
}

#carousel {
    width: 50%;
    height: 65%;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
}

#carousel img {
    object-fit:contain;
    width: 50%;
    height: 15em;
}

.clients h2 {
    text-shadow: rgb(0, 0, 0) px 3px 3px !important;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
    paint-order: stroke fill;
}

@media (min-width:578px )
{
body {
    background: url(./images/oficina.jpg);
    background-position: center bottom;
    background-size: cover;
}
}

 h2, h3 {
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
    paint-order: stroke fill;
}

.st {
    color: black;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

/* Barra de navegación */
nav {
    background-color: #333;
    padding: 20px;
    box-shadow: #333 0px 3px 3px;
}

.navbar {
    justify-content: space-around !important;
}

.navbar li {
    margin: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #aaaaaa;
}

/* Sección de Inicio */
.home {
    /* background: #d4cbcb; */
    color: rgba(255, 255, 255, 0);   
    text-align: center;
    padding: 50px 0;
}

.home-content h1 {
    font-size: 3em;
}

.home-content p {
    font-size: 1.5em;
}

.home-content img {
    margin-left: 0%;
    min-width: 350px;
    width: 45%;
    max-width: 750px;
}   

/* Sección Quiénes Somos */
.about {
    padding: 20px 20px; 
    color: #fafafa;
    background: linear-gradient(#333,80%, gray);
    box-shadow: gray 0px 3px 3px;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: black 5px 2px 2px;
}

.about p {
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
}

.about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about li, .colaboradores li {
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    min-width: 12em;
    margin: 2%;
    text-align: center;
    color: #222222;
}

.about li img {
    width: 20em;
    height: 22em;
    border-radius: 10%;
}

.about h3, .colaboradores h3 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #f2f2f2;
    text-shadow: black 3px 3px 5px;
}


li h4{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2f6;
    text-shadow: black 3px 3px 5px;
}

li h5 {
    font-size: 1em;
    text-align: center;
    color: #f2f2f2f6;
    text-shadow: black 3px 3px 5px;
}

@media(max-width:650px){
    .services{
        padding: 10px 10px;
    }
    .services li{
        padding: 20px;
        font-size: 10px;
        width: 20em;
        height: 25em;
    }
}

@media(min-width:651px){
    .services {
        padding: 50px 20px;
    }

    .services li {
        width: 20em;
        height: 25em;
        min-width: 12em;
        font-size: 15px;
        padding: 20px;
    }
}

.services li {
    display: inline-block;
    background: #ffffffcb;
    border-radius: 10%;
    box-shadow: 3px 3px 3px rgb(114, 114, 114);
    margin: 2%;
    text-align: center;
    color: #222222;
}
.services h2, .clients h2 {
    font-size: 2.5em;
    margin-bottom: 25px;
    text-align: center;
    color: #f2f2f2;
    text-shadow: black 3px 3px 5px;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.services li:hover {
    display: inline-block;
    position:static;
    background: #ffffff;
    padding: 20px;
    box-shadow: 3px 3px 3px rgb(184, 184, 184);
    width: 20em;
    height: 25em;
    min-width: 12em;
    text-align: center;
    color: #222222;
}

.services li h3 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
}

.services li p {
    font-weight: bold;
    margin: .8em 0;

}

.services li p {
    text-align: start;
}

.contact {
    padding: 50px 20px;
    background-color: #333;
    color: white;
    text-align: center;

}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
    background-color: #ffffffe5;
    color: #333;
    font-weight: bolder;
    font-size: 18px;
}

.contact label {
    display: block;
    margin-bottom: 10px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button, .contactb {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: .1px .1px .5px white;
}

.contact button:hover, .contactb:hover {
    background-color: #3f3f3f;
    text-decoration: none;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}